body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    color: #8B4513FF;
}

header {
    background: #8B4513;
    color: #dddddd;
    padding: 10px 20px 20px;
    text-align: center;
    border-bottom: 3px solid #8B4513;
}

nav a {
    color: #dddddd;
    margin: 0 15px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    text-decoration: none;
}

nav a.active {
    padding-bottom: 2px;
    border-bottom: 2px solid #dddddd;
    border-radius: 1px;
}

main {
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    color: black;
    background-color: #dddddd;
    border: 1px solid #8B4513;
    border-radius: 10px;
    width: 100%;
    padding: 20px 0;
}

input {
    text-align: center;
    display: flex;
    margin: 5px auto 20px;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #8B4513;
}

button {
    background: #8B4513;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

li {
    background: #fff;
    margin: 20px 35rem;
    padding: 20px;
    border: 1px solid #8B4513;
    border-radius: 10px;
}

li img{
    margin-top: 10px;
    width: 175px;
}